<h1>Skracanie URL</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/generate/" method="post">
{% csrf_token %}
    URL do skrócenia: <input type="text" name="originalurl" id="originalurl" value=""/>
<br />
<input type="submit" value="Generuj" />
</form>