{% if newurl %}
    <p>Skrócony adres URL do strony: {{ newurl.original_url }}<br></p>
	<a href="/{{ newurl.short_url }}/">{{ request.META.HTTP_HOST }}/{{ newurl.short_url }}</a>
	<br><br>
	<a href="/">Wygeneruj nowy link</a>
{% endif %}